{% extends "AppRamon/inicio.html" %}

{% block contenidoQueCambia %}
<div class="container mt-4">
    <h2>Acerca de mí</h2>
    <p>Hola, soy Ramón Sabbatella.</p>

    <p>La creación de este sitio significa mi proyecto final de python, lo que lo hace de suma importancia.</p>

    <p>El sitio, se trata de una base de datos de futbol sudamericano, que recopila datos sobre: jugadores, equipos, competencias y managers.</p>

    <p>Gracias por visitar mi proyecto.</p>

    <a href="{% url 'Inicio' %}" class="btn btn-primary mt-3">Volver al inicio</a>
</div>
{% endblock %}